body {
  width: 100%;
  height: 100%;
  color: var(--mantine-color-neutral-0);
  background-color: var(--mantine-color-background-9);
}

.main-layout {
  height: 100%;
  width: 100%;
  max-width: var(--mantine-width-max-content);
  margin: 0 auto;
}
